<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Statistics Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="img/Blockbuster_logo.svg.png">
    <link rel="stylesheet" href="css/main_style.css">
    <link rel="stylesheet" href="css/sidenav.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
    </script>
    <script>
        google.charts.load('current', {'packages':['corechart']});
        //google.charts.setOnLoadCallback(drawChart);
        //google.charts.setOnLoadCallback(drawChart2);

        function drawChart() {
        
        count_movies = [<%= count_movies_by_year %>];
        arraydata = [["Year", "Amount of Movies"]]
        for (let i = 0; i < count_movies.length; i+=2) {
            arraydata.push([count_movies[i].toString(), count_movies[i+1]])
        }
        

        var data = google.visualization.arrayToDataTable(arraydata);
        var options = {
        title: 'Movies by year',
        backgroundColor: 'transparent',
        legendTextStyle: { color: 'white' },
        titleTextStyle: { color: 'white' },
        hAxis: {
        textStyle:{color: '#FFF'}
        },
        vAxis: {
            textStyle:{color: '#FFF'}
        }
        };

        var chart = new google.visualization.BarChart(document.getElementById('myChart'));
        chart.draw(data, options);

        }
        function drawChart2() {
        var arraydata = [['Director', 'Movies']]
        count_movies_by_director_arr = [<%= count_movies_by_director %>];
        for (let i = 0; i < count_movies_by_director_arr.length; i+=2) {
            arraydata.push([count_movies_by_director_arr[i].toString(), count_movies_by_director_arr[i+1]])
        }
        console.log(arraydata)

        var data = google.visualization.arrayToDataTable(arraydata);
        
        var options = {
        title:'oran test',
        backgroundColor: 'transparent',
        legendTextStyle: { color: 'white' },
        titleTextStyle: { color: 'white' },
        hAxis: {
        textStyle:{color: '#FFF'}
        },
        vAxis: {
            textStyle:{color: '#FFF'}
        }
        };

        var chart = new google.visualization.BarChart(document.getElementById('myChart2'));
        chart.draw(data, options);
        }
</script>

    </script>
</head>

<body>
    <div id="sidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn">&times;</a>
        <a href="/main">Home page</a>
        <a href="/movies">Movies</a>
        <a href="/tvshows">TV Shows</a>
        <a href="/customers">Clients</a>
        <a href="/locations">Locations</a>
        <a href="/admin-stats">Statistics</a>
        <a href="/logout">Logout</a>
    </div>
    <div id="main">
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar bg-dark">
                    <div class="container-fluid">
                        <span id="sidenavBtn" onclick="openNav()">&#9776;</span>

    
                        <!-- cart Modal End -->
                        <div class="dropdown">
                            <button type="submit" class="btn btn-primary dropbtn">Hello,
                                <%=data.username%>
                            </button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="/logout">Logout</a>
                                <a href="/updaeUserPage">Update Details</a>
                                <a href="/updatePayment">Update Payment Details</a>
                            </div>
                        </div>
                    </div>
                </nav><div class="container text-center g-3">
                    <div class="container text-center g-3 ">
                        <h2 style="color:azure"> Admin dashboard statistics</h2>
                    </div>
                    <br>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 mb-4">
                                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;max-height: 7rem;">
                                    <div class="card-header">Amount of users</div>
                                    <div class="card-body">
                                      <h5 class="card-title"><%=data.count_users%></h5>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-3 mb-4">
                                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;max-height: 7rem">
                                    <div class="card-header">Amount of movies</div>
                                    <div class="card-body">
                                      <h5 class="card-title"><%=data.count_movies%></h5>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-3 mb-4">
                                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;max-height: 7rem">
                                    <div class="card-header">Amount of tv shows</div>
                                    <div class="card-body">
                                      <h5 class="card-title"><%=data.count_tvshows%></h5>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-3 mb-4">
                                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;max-height: 7rem">
                                    <div class="card-header">Amount of stores</div>
                                    <div class="card-body">
                                      <h5 class="card-title"><%=data.count_locations%></h5>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                    <div class="container text-center g-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 mb-4" id="chartdiv1">
                                    <script>
                                        count_movies = [<%= count_movies_by_year %>];
                                        arraydata = []
                                        for (let i = 0; i < count_movies.length; i+=2) {
                                            arraydata.push({"year": count_movies[i].toString(), 
                                            "amount_of_movies":count_movies[i+1]})
                                            }
                                        const divID1 = document.getElementById("chartdiv1");

                                        divID1.append(Plot.plot({
                                        marks: [
                                          Plot.barY(arraydata, {x: "year", y: "amount_of_movies"})
                                        ],
                                        style: {
                                            background: "transparent",
                                            color: "#adb5bd"
                                        }
                                      }))
                                    </script>
                                </div>
                                <div class="col-lg-6 mb-4" id="chartdiv2">
                                <script>
                                    var arraydata = []
                                    count_movies_tmp  = "<%=count_movies_by_director %>"
                                    count_movies_by_director_arr = count_movies_tmp.split(",")
                                    console.log(count_movies_by_director_arr)
                                    for (let i = 0; i < count_movies_by_director_arr.length; i+=2) {
                                        arraydata.push({"Director":count_movies_by_director_arr[i].toString(), 
                                        "amount_of_movies":parseInt(count_movies_by_director_arr[i+1])})
                                      }
                                    const divID2 = document.getElementById("chartdiv2");

                                    divID2.append(Plot.plot({
                                    marks: [
                                      Plot.barY(arraydata, {x: "Director", y: "amount_of_movies"})
                                    ],
                                    style: {
                                            background: "transparent",
                                            color: "#adb5bd"
                                        }
                                  }))
                                </script>
                                </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4" id="chartdiv4">
                        <script>
                            var arraydata = []
                            count_movies_tmp  = "<%=count_customer_by_location %>"
                            count_movies_by_director_arr = count_movies_tmp.split(",")
                            console.log(count_movies_by_director_arr)
                            for (let i = 0; i < count_movies_by_director_arr.length; i+=2) {
                                arraydata.push({"City":count_movies_by_director_arr[i].toString(), 
                                "amount_of_customers":parseInt(count_movies_by_director_arr[i+1])})
                              }
                            const divID4 = document.getElementById("chartdiv4");

                            divID4.append(Plot.plot({
                            marks: [
                              Plot.barY(arraydata, {x: "City", y: "amount_of_customers"})
                            ],
                            style: {
                                    background: "transparent",
                                    color: "#adb5bd"
                                }
                          }))
                        </script>
                        </div>
                        <div class="col-lg-6 mb-4" id="chartdiv3">
                            <script>
                                count_order_by_month_array_tmp = [<%= count_order_by_month_array %>];
                                arraydata = []
                                console.log(count_order_by_month_array_tmp)
                                for (let i = 0; i < count_order_by_month_array_tmp.length; i+=3) {
                                    arraydata.push({"date": count_order_by_month_array_tmp[i].toString() + "-" + count_order_by_month_array_tmp[i + 1].toString(),
                                    "total_orders_payment":count_order_by_month_array_tmp[i+2]})
                                    }
                                console.log(arraydata)
                                const divID3 = document.getElementById("chartdiv3");

                                divID3.append(Plot.plot({
                                marks: [
                                  Plot.barY(arraydata, {x: "date", y: "total_orders_payment"})
                                ],
                                style: {
                                    background: "transparent",
                                    color: "#adb5bd"
                                }
                              }))
                            </script>
                        </div>
                        
            </div>
                </div>
            </div>
            </div>
        </div>
        <footer>
            <nav class="navbar">
                <div class="container-fluid">
                    <span>
                        <a class="navbar-brand" href="/main">Home Page</a>
                        <a class="navbar-brand" href="/locations">Locations</a>
                        <a class="navbar-brand" href="/about">About Us</a>
                    </span>
                </div>
            </nav>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>



    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script src="js/main.js"></script>
    <script src="js/sidenav.js"></script>
    <script src="js/cart.js"></script>
</body>

</html>