<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Catalog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="img/netflix.png">
    <link rel="stylesheet" href="css/main_style.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <nav class="navbar bg-dark">
                <div class="container-fluid">
                    <a href="/movies"><img src="img/netflix.png" style="width: 50px; height: 50px" class="g-3"></a>
                    <a href="/searchMovies" style="margin-right: 10px"><button class="btn btn-outline-warning"
                            type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg> Search Movies</button></a>
                    <a href="addMovie.html"><button class="btn btn-outline-primary" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                            </svg> Add Movie</button></a>
                </div>
            </nav>
            <div class="container text-center g-3">
                <div class="row g-3 results">
                    <% for (var i=0; i < movies.length; i++) { %>
                        <div class="col-md-3 col-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=movies[i]._id%>
                                    </h5>
                                    <p class="card-text"><b>Synopsis: </b>
                                        <%=movies[i].preview%>
                                    </p>
                                    <p><b>Views: </b>
                                        <%=movies[i].views%>
                                    </p>
                                    <p><b>Box Profit: </b>
                                        <%=movies[i].profit%>
                                    </p>
                                    <p><b>Preimre Date: </b>
                                        <%=movies[i].preimre_date%>
                                    </p>
                                    <p><b>Recommended: </b>
                                        <%=(movies[i].recommended==true) ? "Yes" : "No" %>
                                    </p>
                                    <a href="<%=movies[i].link%>"><button class="btn btn-outline-info" type="button">
                                            Read More</button></a>
                                    <form action="/deleteMovie" method="POST" class="float-end">
                                        <input readonly class="d-none" name="movie_id" value="<%=movies[i]._id%>">
                                        <button type="submit" class="btn btn-outline-danger"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                            </svg></button>
                                    </form>
                                    <form class="float-start">
                                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                            data-bs-target="#updateModal<%=i%>">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                <path
                                                    d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                            </svg></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="updateModal<%=i%>" tabindex="-1"
                            aria-labelledby="updateModalLabel<%=i%>" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="updateModalLabel<%=i%>">Update info for:
                                            <%=movies[i].title%>
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/update" method="post">
                                            <div class="form-floating">
                                                <input readonly class="d-none" name="movie_index" value="<%=i%>">
                                            </div>
                                            <div class="form-floating">
                                                Synopsis: <input name="preview" class="update_input">
                                            </div>
                                            <div class="form-floating">
                                                views: <input type="number" name="views" class="update_input">
                                            </div>
                                            <div class="form-floating">
                                                Profit: <input type="number" name="profit" class="update_input">
                                            </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <%}%>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</body>

</html>